<header class="header">
  <div class="header-content">
    <div class="header-text">
      <h1>SITxUoG AI-Healthcare Forum</h1>
      <div class="header-subtext">
        <p><strong>Date:</strong> February 7, 2025</p>
        <p><strong>Time:</strong> 2-6 PM</p>
        <p><strong>Venue:</strong> Room SR343 Level 3, Building E6 at SIT Punggol Campus</p>
        <a href="https://www.singaporetech.edu.sg/campus-wayfinder" class="directions-link">Get Directions</a>
        <p><strong>Catering:</strong> Tea break and dinner will be provided.</p>
      </div>
    </div>
    <div class="header-image">
      <img src="assets/1.jpg" alt="AI-Healthcare Forum">
    </div>
  </div>
</header>

