<div class="header">
  <div class="header-content">
    <div class="header-text">
      <h1>Privacy-Preserving AI for Smart Healthcare Forum &#64; SIT
        Punggol</h1>
      <div class="header-subtext">
        <p><strong>Dates:</strong> February 7, 2025</p>
        <p><strong>Time:</strong> 2-6 PM</p>
        <p><strong>Venue:</strong> E6-03-16-SR343 at SIT Punggol Campus</p>
        <p><strong>Catering:</strong> Tea break and dinner will be provided.</p>
      </div>
    </div>
    <div class="header-image">
      <img src="assets/1.jpg" alt="Header Image">
    </div>
  </div>
</div>