<div class="header">
  <div class="header-content">
    <div class="header-text">
      <h1>Privacy-Preserving AI for Smart Healthcare Forum &#64; SIT
        Punggol</h1>
      <div class="header-subtext">
        <p><strong>Dates:</strong> February 6–7, 2025</p>
        <p><strong>Time:</strong> TBC</p>
        <p><strong>Venue:</strong> SIT Punggol Campus</p>
        <p><strong>Catering:</strong> Lunch and tea breaks will be provided on
          both days.</p>
      </div>
    </div>
    <div class="header-image">
      <img src="assets/1.jpg" alt="Header Image">
    </div>
  </div>
</div>